/* General Configuration */
html,body{
    height:100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* Navbar */ 
#btn-nav {
    width: 90px;
    float: right;
    margin-left: 25px;
}

/* Footer */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer, .push{
    height: 50px;
    font-size: 13px;
}

/* Login */
#btn-enter {
    width: 90px;
}

#heart{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.side-label{
    width: 75px;
}

#no-data{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}