{% extends 'main.html' %}

<!-- Title on the Browser tab -->
{% block title %} Add Patient {% endblock title %}

<!-- Navbar content {icon + title} -->
{% block nav-content %}
<i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add Patient
{% endblock nav-content %}

<!-- TIME -->
{% block time %}
<div class="col-sm">
    <center>
        <span id="clock" style="color: #89cff0;"></span>
    </center>
</div>
{% endblock time %}

<!-- Button in navbar -->
{% block btn-nav %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm border-light text-light" id="btn-nav">Logout</a>
{% endblock btn-nav %}

<!-- Footer {color} -->
{% block footer %} style="color: #89cff0; text-decoration: none;"{% endblock footer %}

<!-- Page content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-body border-dark text-primary mt-5">
                <span class="text-center">{% block card-title %} FILL OUT THE FORM BELOW {% endblock card-title %}</span>
            </div>
            <form {% block Action %} action="/add_patient/" {% endblock Action %} method="POST" autocomplete="off" enctype="multipart/form-data" class="card p-3 border-dark mt-3">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label">Name</span>
                    <input type="text" class="form-control" name="name" placeholder="First and Last Name" {% block Value-name %} {% endblock Value-name %}/>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label">Phone</span>
                    <input type="phone" class="form-control" name="phone" placeholder="Patient phone" {% block Value-phone %} {% endblock Value-phone %}/>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label">Email</span>
                    <input type="email" class="form-control" name="email" placeholder="Patient email" {% block Value-email %} {% endblock Value-email %}/>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label">Age</span>
                    <input type="number" class="form-control" name="age" placeholder="Patient age" {% block Value-age %} {% endblock Value-age %}/>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text side-label">Gender</label>
                    <select class="form-select" name="gender">
                        {% block option %}
                        <option value="" hidden>Select the gender</option>
                        {% endblock option %}
                        <option disabled></option>
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="note" rows="7" placeholder="Description is optional...">{% block note %}{% endblock note %}</textarea>
                </div>
                <div class="d-grid gap-2 mt-2">
                    <button type="submit" class="btn btn-primary btn-sm">
                        {% block Btn-add %}
                        <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
                        {% endblock Btn-add %}
                    </button>

                    <!-- Reset button {in edit.html} denied here -->
                    {% block Btn-reset %}{% endblock Btn-reset %}

                    <a href="{% url 'backend' %}" class="btn btn-dark btn-sm">
                        <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back
                    </a>
                </div>

                <!-- ID Hidden (denied here) -->
                {% block Id-hidden %}{% endblock Id-hidden %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}