{% extends 'main.html' %}

<!-- Title on the Browser tab -->
{% block title %} All Patients {% endblock title %}

<!-- Navbar content {icon + title} -->
{% block nav-content %}
<i class="fas fa-hospital-user"></i>&nbsp;&nbsp;Patients
{% endblock nav-content %}

<!-- TIME -->
{% block time %}
<div class="col-sm">
    <center>
        <span id="clock" style="color: #89cff0;"></span>
    </center>
</div>
{% endblock time %}

<!-- Button in navbar -->
{% block btn-nav %}
<div class="text-light" id="sidebar" ata-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <i class="fas fa-bars"></i>
</div>
<a  class="btn btn-outline-danger btn-sm border-light text-light" id="btn-nav" >Logout</a>
{% endblock btn-nav %}

<!-- Sidebar -->
{% block body-sidebar %}
<div class="d-grid gap-2">
    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
    {% if request.user.is_superuser %}
    <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-outline-primary btn-sm mb-3">Admin</a>
    {% else %}
    <button class="btn btn-outline-secondary btn-sm">Support</button>
    {% endif %}
</div>
{% endblock body-sidebar %}

<!-- Footer {color} -->
{% block footer %} style="color: #89cff0; text-decoration: none;"{% endblock footer %}

<!-- Page Content -->
{% block content %}
<div class="container">
    <br><br>

    <!-- Add button and Get username -->
    <div class="d-flex justify-content-between">
        <a href="{% url 'add_patient' %}" id="Btn-add-desktop" class="btn btn-outline-primary btn-sm txt-sm" id="add-patient">
            <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Patient
        </a>
        <a href="{% url 'add_patient' %}" id="Btn-add-smartphone" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-plus"></i>
        </a>
        <span class="welcome">
            Welcome: <strong><span class="text-primary">{{ user.get_username }}</span></strong>
            <!-- {% now "H:i:s" %} -->
        </span>
    </div>

    <!-- Input Search + Button Search + Button Reset -->
    <form action="" method="GET">
        <div class="input-group input-group-sm mb-3 mt-4">
            <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
            <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
            <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left: 2px;"><i
                    class="fas fa-sync-alt"></i></a>
        </div>
    </form>

    <!-- Table -->
    <center>
        <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
            <thead class="table-primary">
                <tr>
                    <th style="width: 21%">Name</th>
                    <th style="width: 15%">Phone</th>
                    <th style="width: 21%">Email</th>
                    <th style="width: 8%">Age</th>
                    <th style="width: 7%">Gender</th>
                    <th style="width: 18%">Registered</th>
                    {% if request.user.is_superuser %}
                    <th style="width: 10%" colspan="2">Actions</th>
                    {% else %}
                    <th style="width: 10%" colspan="2">Edit Patient</th>
                    {% endif %}
                </tr>
            </thead>
            <!-- Data from backend -->
            {% for patient in patients %}
            <tr class="txt-sm" id="chk_td">
                <td data-label="Name" id="top-table">{{ patient.name }}</td>
                <td data-label="Phone" id="reponsive-border">{{ patient.phone }}</td>
                <td data-label="Email" id="reponsive-border">{{ patient.email }}</td>
                <td data-label="Age" id="reponsive-border">{{ patient.age }}</td>
                <td data-label="Gender" id="reponsive-border">{{ patient.gender }}</td>
                <td data-label="Registered" id="reponsive-border">{{ patient.created_at | date:'d/m/Y (H:i)' }}</td>
                <td>
                    <a href="/patient/{{ patient.id }}" class="btn btn-primary btn-action" title="Edit patient">
                        <li class="fas fa-pen"></li>
                    </a>
                </td>
                {% if request.user.is_superuser %}
                <td>
                    <a class="btn btn-secondary btn-action" title="Delete patient"
                        data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.pk }}">
                        <li class="fas fa-trash-alt"></li>
                    </a>
                </td>
                {% endif %}
            </tr>
            <!-- Modal {delete confirmation} -->
            <div class="modal fade" id="deleteModal{{ patient.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel"><i
                                    class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete Patient</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger txt-sm"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i>
                            </div>
                            <div class="text-center text-danger txt-sm">
                                <span>DO YOU WANT TO DELETE THIS PATIENT ?</span>
                                <div class="text-dark mt-3 mb-2">Patient: <strong>{{ patient.name }}</strong></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm txt-sm"
                                data-bs-dismiss="modal">Cancel</button>
                            <a href="/delete_patient/{{ patient.id }}" type="button" class="btn btn-primary btn-sm txt-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>
    </center>


    <!-- Pagination -->
    <nav class="mt-4" id="pagination">
        {% if patients.has_other_pages %}
        <ul class="pagination justify-content-right" style="float: right;">
            {% if patients.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary mb-4" id="first"
                style="border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
            <li class="page-item"><a href="?page={{ patients.previous_page_number }}" class="page-link"><i
                        class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in patients.paginator.page_range %}
            {% if patients.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if patients.has_next %}
            <li class="page-item"><a href="?page={{ patients.next_page_number }}" class="page-link"><i
                        class="fas fa-angle-double-right"></i></a></li>
            <a href="?page={{ patients.paginator.num_pages }}" class="btn btn-outline-primary mb-4" id="last"
                style="border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}

    </nav>

    <!-- Message from backend -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{ message }}";
            swal("Perfect !", m, "success")
        </script>
        {% endif %}
    {% endfor %}
</div>

<!-- If no patient, show this span (message) -->
<span class="text-danger" id="no-data"></span>

<br><br><br>
{% endblock content %}