{% extends 'base/add.html' %}

{% block title %} Edit Patient {% endblock title %}

<!-- Navbar content {icon + title} -->
{% block nav-content %}
<i class="fas fa-user-edit"></i>&nbsp;&nbsp; {{ patient.name }}
{% endblock nav-content %}

<!-- Card title {in add.html} extended here -->
{% block card-title %}
Registered at: <span class="text-dark">{{ patient.created_at | date:'d/m/Y (H:i)' }}</span>
{% endblock card-title %}

<!-- Add button DESKTOP & TABLET -->
{% block Btn-content1 %}
<i class="fas fa-server"></i>&nbsp;&nbsp;Save Patient
{% endblock Btn-content1 %}

<!-- Add button SMARTPHONE -->
{% block Btn-content2 %}
<i class="fas fa-add"></i>&nbsp;&nbsp;Save
{% endblock Btn-content2 %}

<!-- Add button extended here -->
{% block Action %} action="/edit_patient/" {% endblock Action %}

<!-- Block Form Action -->
{% block Value-name %} value="{{ patient.name }}" {% endblock Value-name %}

<!-- Phone number -->
{% block Value-phone %} value="{{ patient.phone }}" {% endblock Value-phone %}

<!-- Email -->
{% block Value-email %} value="{{ patient.email }}" {% endblock Value-email %}

<!-- Age -->
{% block Value-age %} value="{{ patient.age }}" {% endblock Value-age %}

<!-- Gender -->
{% block option %}
<option style="background-color: #d3d3d3; color: #007bff;">{{ patient.gender }}</option>
{% endblock option %}

<!-- Note -->
{% block note %}{{ patient.note }}{% endblock note %}

<!-- ID Hidden -->
{% block Id-hidden %}
<input type="hidden" value="{{ patient.id }}" name="id">
{% endblock Id-hidden %}
