{% extends 'main.html' %}

{% block nav-content %}
<i class="fas fa-stethoscope"></i>&nbsp;&nbsp;Login
{% endblock nav-content %}

{% block btn-nav %}
<a href="{% url 'frontend' %}" class="btn btn-outline-primary btn-sm border-light text-light" id="btn-nav">Go back</a>
{% endblock btn-nav %}

{% block content %}
<div class="container mt-5">
    <div class="card p-3 border-dark">
        <span class="btn btn-outline-dark mt-3">
            <i class="fas fa-lock"></i>&nbsp;&nbsp;RESTRICTED ACCESS
        </span>
        <form action="{% url 'login' %}" method="POST" autocomplete="off" novalidate >
            {% csrf_token %}
            <div class="input-grid mb-3 mt-5">
                <span class="input-group-text">
                    <i class="fas fa-user-alt"></i>
                </span>
                <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="input-grid mb-3">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            <a></a>
            <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter" />
        </form>
    </div>

    {% if form.errors %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        swal("Denied!","Enter your data correctly.", "Error");
    </script>
    {% endif %}

    <center id="heart">
        <i class="text-primary fas fa-heartbeat fa-10x blink_me"></i>
    </center>

</div>

{% endblock content %}