{% extends 'main.html' %}

<!-- Title on the Browser tab -->
{% block title %} Login {% endblock title %}

<!-- Navbar content (icon + title) -->
{% block nav-content %}
<i class="fas fa-stethoscope"></i>&nbsp;&nbsp;Login
{% endblock nav-content %}

<!-- Button in navbar -->
{% block btn-nav %}
<a href="{% url 'frontend' %}" class="btn btn-outline-primary btn-sm border-light text-light" id="btn-nav">Go back</a>
{% endblock btn-nav %}

<!-- Footer {color} -->
{% block footer %} style="color: #a9a9a9; text-decoration: none;"{% endblock footer %}

<!-- Page Content -->
{% block content %}
<style>
    body {
        background: url("/static/images/login-bg.jpg");
        background-position: center 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="container mt-5" id="card-login">
    <div class="card p-3 login-border">
        <span class="btn btn-outline-dark mt-3" id="title-login" style="cursor: default;"><i class="fas fa-lock"></i>&nbsp;&nbsp;RESTRICTED
            ACCESS</span>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="btn input-group-text border-secondary bg-light icon-width"><i
                        class="fas fa-user-alt"></i></span>
                <input type="text" class="form-control txt-sm" name="username" placeholder="Username" />
            </div>
            <div class="input-group mb-3">
                <span class="btn input-group-text border-secondary bg-light icon-width"><i
                        class="fas fa-lock"></i></span>
                <input type="password" class="form-control txt-sm" name="password" placeholder="Password" />
            </div>
            <div class="d-grid gap-2">
                <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter" />
            </div>
        </form>
        <!-- Heart Pulse -->
        <center class="mt-5 mb-5">
            <i class="text-primary fas fa-heartbeat fa-7x blink_me"></i>
        </center>
    </div>

</div> <!-- END // Container -->
{% endblock content %}